@media (min-width: 1536px){
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #333533;
}
.pierwszy{
    color: black;
    background-color: #ffd100;
    text-align: center;
    font-size: 30px;
    height: fit-content;
    padding: 1%;
}
.container{
    color:#d6d6d6;
    display: flex;
    flex-direction: row;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 175px;
    height: 175px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ffd100;
    
}
.pies{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 175px;
    height: 175px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ffd100;
    
}
h2{
    font-weight: bold;
    text-align: left;
}

.box1{
    border-radius: 5%;
    height: 100%;
    width: 100%;
    background-color: #202020;
    margin: 1%;
    padding: 50px;
}
.box1:hover{
    outline-color: #ffd100;
    outline-style: solid;
    outline-width: 2px;
}
a:hover{
    outline: 2px solid #ffd100;
    background-color: #202020;
    color: #ffd100;
}
a{
    background-color: #ffd100;
    float: right;
    width: 25%;
    height: 100%;
    border-radius: 25px;
    text-decoration: none;
    margin: 3%;
    padding: 4%;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.info{
    color: white;
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 81%;
    height: 500px;
    overflow-y: scroll;
}

.info2{
    color: white;
    background-color: #202020;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    width: 80%;
    height: 500px;
}
.h3{
    width: 100%;
    
}
.stopeczka{
    background-color: #ffd100;
    text-align: center;
    font-size: 15px;
    height: fit-content;
    padding: 1%;

}
.box2{
    color: white;
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 80%;
    height: 35%;
    overflow-x: auto;
    flex-direction: row;
    display: flex;
    
}
table{
     border: 2px solid #ffd100;
     margin: 25px;
     height: 50%;
     width: 50%;
} 

th{
    background-color: #202020;
     color: white;
     text-align: center;
}
td{
    background-color: #ffd100;
    text-align: center;
}
