body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #333533;
}
.pierwszy{
    color: black;
    background-color: #ffd100;
    text-align: center;
    font-size: 30px;
    height: fit-content;
    padding: 1%;
}