body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #333533;
}
.pierwszy{
    color: black;
    background-color: #ffd100;
    text-align: center;
    font-size: 30px;
    height: fit-content;
    padding: 1%;
}
.container{
    color:#d6d6d6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 50%;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ffd100;
}
h2{
    font-weight: bold;
    text-align: left;
}

.box1{
    border-radius: 5%;
    height: 10%;
    width: 15%;
    background-color: #202020;
    padding: 15px;

}
button{
    background-color: #ffd100;
    float: right;
    width: 25%;
    height: 100%;
    border-radius: 25px;
    text-decoration: none;
    margin: 3%;
    padding: 4%;
}
a{
    text-decoration: none;
    color: black;
}
.info{
    color: white;
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 94.5%;
    height: auto;

}
.h3{
    width: 100%;
    
}